name: imei
description: Plugin package to get device imei
version: 0.0.1
homepage: https://github.com/BahromjonPolat/flutter-imei-plugin

environment:
  sdk: ">=3.5.0 <4.0.0"
  flutter: ">=3.24.0"

dependencies:
  flutter:
    sdk: flutter

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^5.0.0

flutter:
  plugin:
    platforms:
      android:
        package: uz.mirrikhsoftware.imei
        pluginClass: ImeiPlugin
